@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,300,600,700);

body {
  background-color:#FFFAF6;
  font-family: 'Open Sans', sans-serif;
}

#title{
  font-family: 'Open Sans', sans-serif;
  font-size: 25px;
  color: black;
  text-align: center;
  background-color: #D6D8DD;
}
.typeahead{
  width:400px;
}
.cashflows{
  font-family: 'Open Sans', sans-serif;
  margin-left: 10px;
  margin-right: 10px;

}
.table {
  table-layout: fixed;
  width: 100%;
  white-space: nowrap;
}
.table td {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* Column widths are based on these cells */
.row-info {
  width: 30%;
}
.row-comp1 {
  width: 20%;
}
.row-comp2 {
  width: 20%;
}
.row-comp3 {
  width: 20%;
}
