@import url(https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,300,600,700);

body {
  background-color:#FFFAF6;
  font-family: 'Open Sans', sans-serif;
  padding-bottom: 50px;
  padding-top:25px;
}
.jumbotron {
  background-color: #C3D8EE;

}
.form-control{
  width: 300px;
}
.danger {
  color: red;
}
.description {
  text-align: justify;
  width: 80%;
}
.value {
  color: #457A9A;
  font-weight: bold;
}

#title{
  text-align: center;
}
.typeahead{
  width:400px;
}
.cashflows{
  font-family: 'Open Sans', sans-serif;
  margin-left: 10px;
  margin-right: 10px;

}
.table {
  table-layout: fixed;
  width: 100%;
  white-space: nowrap;
}
.table td {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* Column widths are based on these cells */
.row-info {
  width: 30%;
}
.row-comp1 {
  width: 20%;
}
.row-comp2 {
  width: 20%;
}
.row-comp3 {
  width: 20%;
}
